<form style="margin-left: 1em;">
  <h3>Upload File</h3>
  
  <div *ngIf="file">
      <button md-raised-button (click)="saveFile()" >Save</button>

    <app-file-preview [fileInfo]="file" ></app-file-preview>
    <h5>
      File Delimeter
    </h5>
    <md-radio-group [(ngModel)]="fileDelimeter" name="delimeter" (change)="handleDelimeterChanged($e)">
      <md-radio-button style="margin: 5px;" *ngFor="let delimeter of fileDelimeters" [value]="delimeter.val">{{delimeter.display}}</md-radio-button>
    </md-radio-group>
</div>
  <button md-raised-button (click)="triggerFileInputClick()">Select File</button>
  <input type="file" #fileInput (change)="handleFileChanged($event)" style="display: none;">
</form>