<md-toolbar style="height: 45px; min-height: 45px;">
    <button md-button [mdMenuTriggerFor]="menu" style="margin-bottom: 20px;">
        <md-icon>add circle outline</md-icon> Add
    </button>
    <md-menu #menu="mdMenu">
        <button md-menu-item (click)="handlePlotClicked()">Plot</button>
    </md-menu>    
</md-toolbar>
<md-grid-list cols="3" style="align-items:left; justify-content: left;" rowHeight="600px">
    <md-grid-tile [colspan]="1" style="border-right: solid #f5f5f5 2px;">
        <div style="width: 100%; height: 100%;">
            <md-list>
                <md-list-item  *ngFor="let plot of project.plotObjects" (click)="plotClicked(plot)">
                    <button [ngClass]="{active: selectedPlot===plot}" md-menu-item>{{plot.name}}</button>
                </md-list-item>
            </md-list>
        </div>
    </md-grid-tile>
    <md-grid-tile [colspan]="2">
        <div style="width: 100%; height: 100%;">
            <app-generate-plot *ngIf="!selectedPlot" [project]="project"></app-generate-plot>
            <app-display-plot *ngIf="selectedPlot" [plotObject]="selectedPlot"></app-display-plot>
        </div>
    </md-grid-tile>
</md-grid-list>