<md-sidenav-container class="sidenav-container">
    <md-sidenav #sidenav mode="side" opened="true">
        
        <div class="">
            <md-list>
                <md-list-item>
                    <button md-button (click)="handleViewChange('list_projects')">
                      <md-icon md-list-icon>list</md-icon>
                      List Projects
                    </button>
                </md-list-item>
                <md-list-item>
                    <button md-button (click)="handleViewChange('new_project')">
                      <md-icon md-list-icon>assignment</md-icon>
                      New Project
                    </button>
                </md-list-item>
            </md-list>
        </div>
      </md-sidenav>
      
      <div class="scrolling-content">
          <app-create-new-project *ngIf="showCreateProject" (onCreated)="handleOnCreated($event)"></app-create-new-project>
          <app-projects-list *ngIf="showProjectsList"></app-projects-list>
      </div>
    </md-sidenav-container>