<div *ngIf="errMsg">
    {{errMsg.error.msg}}
</div>
<div *ngIf="project" style="height: 100%;">
    <!--
    <h3>{{project.name}}</h3>
    <p>{{project.description}}</p>
    -->
    <md-tab-group layout-fill [dynamicHeight]="true">
        <md-tab label="Data Sources">
            <app-project-data-sources [project]="project"></app-project-data-sources>
        </md-tab>
        <md-tab label="Plots">
            <app-project-plots [project]="project"></app-project-plots>
        </md-tab>
    </md-tab-group>
</div>
