.sidenav-container {
    width: 100%;
    min-height: 500px;    
  }
  
  .sidenav-container md-sidenav {
    max-width: 200px;
  }
  
  .sidenav-container .mat-sidenav-content,
  .sidenav-container md-sidenav {
    display: flex;
    overflow: visible;
  }
  
  .scrolling-content {
    overflow: auto;
  }
  
  .active {
    font-weight: bold;
    font-style: italic;
}