<md-card class="generate-plot-card">
    <md-card-title>Generate Plot</md-card-title>
    <md-card-content>
        <md-input-container>
            <input mdInput placeholder="Plot Name" [(ngModel)]="plotName" name="plotName">
        </md-input-container>    
        <md-select *ngIf="project" placeholder="Data Source" [(ngModel)]="selectedDataSource" name="selectedDataSource">
            <md-option *ngFor="let dataSource of project.fileObjects" [value]="dataSource">{{ dataSource.name }}</md-option>
        </md-select>
        <br />
        <md-select [(ngModel)]="plotType" name="plotType" placeholder="Plot Type">
            <md-option value="scatter">Scatter Plot</md-option>
        </md-select>
        <md-select *ngIf='selectedDataSource' [(ngModel)]="xAxis" name="xAxis" placeholder="X-Axis">
            <md-option *ngFor="let header of selectedDataSource.headers" [value]="header">{{ header }}</md-option>
        </md-select>
        <md-select *ngIf='selectedDataSource' [(ngModel)]="yAxis" name="yAxis" placeholder="Y-Axis">
            <md-option *ngFor="let header of selectedDataSource.headers" [value]="header">{{ header }}</md-option>
        </md-select>
        <button md-raised-button (click)="generatePlot()">
            Generate Plot
        </button>
        <button *ngIf="options" md-raised-button (click)="savePlot()">
            Save Plot
        </button>
        <div *ngIf="options">
            <hr />
            <chart [options]="options"></chart>
        </div>
    </md-card-content>
</md-card>