<md-toolbar style="height: 45px; min-height: 45px;">
  <button md-button [mdMenuTriggerFor]="newDataSourceMenu" style="margin-bottom: 20px;">
    <md-icon>add circle outline</md-icon> Add
  </button>
  <md-menu #newDataSourceMenu="mdMenu">
    <button md-menu-item (click)="handleUploadFileClicked()">Upload File</button>                    
  </md-menu>    
</md-toolbar>
<md-grid-list cols="3" class="data-source-grid" rowHeight="600px">
  <md-grid-tile [colspan]="1" class="data-source-tile">
    <div class="tile-content-container">
      <md-list>
        <md-list-item  *ngFor="let file of project.fileObjects" (click)="dataSourceClicked(file)">
          <button [ngClass]="{active: selectedFile===file}" md-menu-item>{{file.name}}</button>
        </md-list-item>
      </md-list>
    </div>
  </md-grid-tile>
  <md-grid-tile [colspan]="2">                        
    <div class="tile-content-container">
      <app-upload-file *ngIf="uploadingFile" (fileUploadedEvent)="handleFileUploaded($event)" [projectId]="project._id"></app-upload-file>                        
      <app-data-source-details *ngIf="selectedFile" [fileInfo]="selectedFile"></app-data-source-details>
    </div>
  </md-grid-tile>
</md-grid-list>            