<div>Filename: {{fileInfo.name}}</div>
<div>Headers: {{fileInfo.headers}}</div>
<div *ngIf="fileInfo.fileData" style="overflow: auto; max-height: 200px;">
<table>
  <thead>
    <tr>
      <th *ngFor="let colHeader of fileInfo.headers">{{colHeader}}</th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let row of fileInfo.fileData">
    <td *ngFor="let col of row">
      {{col}}
    </td>
  </tr>
</tbody>
</table>
</div>
<div *ngIf="!fileInfo">
  No file yet...
</div>