/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0px;
    padding: 0px; 
}
.full-width {
  width: 100%;
}
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';