<md-card class= "new-project-card">
  <md-card-title>
    New Data Project
  </md-card-title>
  <md-card-content>
    <md-input-container class="full-width">
      <input mdInput placeholder="Project Name" [(ngModel)]="newProject.name" [disabled]="isDisabled">
    </md-input-container>
    <br />
    <md-input-container class="full-width">
      <textarea mdInput placeholder="Description" [(ngModel)]="newProject.description" [disabled]="isDisabled"></textarea>
    </md-input-container>
  </md-card-content>
  <md-card-actions>
    <a md-raised-button (click)="createProject()" [disabled]="isDisabled">Create</a>
  </md-card-actions>
</md-card>